.description {
  line-height: 1.0;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.name {
  font-size: 1.rem;
  display: block;
  color: #2a555e;
}

.title {
  color: #70abaf;
}

.note {
  font-weight: lighter;
  color: #c10001;
}

.spacer {
  margin-right: 10px;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  font-size: 0.8rem;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 0.2rem .1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: white;
  position: relative;
}


.tags {
  position: absolute;
  bottom: -10px;
  right: 10px;
  height: 25px;
  overflow: hidden;
}
.tags div {
    background-color: #c10001;
    border-radius: 25px;
    color: white;
    display: inline-block;
    padding: 3px;
    margin: 2px 2px;
    font-size: 0.6rem;
}

.card h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;

}

.card p {
  margin-block-start: 0em;
  margin-block-end: 0em;

}

.card a {
  transition: color 0.2s ease-out;

}

.card a:hover {
  color: #70abaf;
}

@media screen and (min-width: 40em) {
  .card {
     max-width: calc(33% -  1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
      max-width: calc(25% - 1em);
  }
}