.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 3rem auto;
  margin-bottom: -3rem;
  min-height: calc(100vh - 108px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 0 3rem 0 0;
}

.footer,
.push {
  height: 3rem;
  padding: 1rem 1rem;
  display: flex;
  font-size: 10pt;
  color: #8e8d8a;
}

.background {
  /* Add the GEM as background */
  /* background: url(../public/gem3.svg) no-repeat top left; */
  background: url(../public/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
