.metaBox{
  padding: 4pt 4pt;
  margin: 1pt;
}

.inverse{
  background-color: #3f3f3f;
  color: white;
}

.measureBox{
  display: inline-block;
  padding: 3pt;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin: 0 1pt;
}
.measureBox:hover{
  padding: 1pt;
  border: solid 2pt;
}

.matrix{
  font-size: 8pt;
}
