.dsBox {
    display: inline-block;
    padding: 3pt;
    border-radius: 5px;
    border: none;
    background-color: white;
    margin: 0 1pt;
}

/*.dsBox:hover {*/
/*    border: solid 2pt;*/
/*}*/

.dsBoxHover {
    padding: 1pt;
    border: #c10001 solid 2pt;
}

.nonSelected {
    opacity: .3;
    font-size: 4pt;
    /*display: none;*/
    /*order: 1;*/
}

.selected {
    opacity: 1;
}

.metaBox {
    padding: 2pt 3pt;
    margin: 1pt;
    background-color: #eeeeee;
}

.metaMetaBox {
    padding: 2pt 5pt;
    margin: 1pt;
    background-color: #ccc;
}

.matrix {
    font-size: 8pt;
}
