.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  font-variant: small-caps;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  font-variant: small-caps;
  text-decoration: underline;
  text-decoration-color: #c10001;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  font-variant: small-caps;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  font-variant: small-caps;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 0.5rem;
}

.lightText {
  color: #70abaf;
}

.smallSpace {
  margin-right: 0.25rem;
}

.eggshell {
  background-color: #eff6ff;
  color: #2a555e;
}

.light {
  color: #70abaf;
}

.accent {
  color: #700001;
}

.accentUnderline {
  text-decoration: underline;
  text-decoration-color: #c10001;
}

.accentBorder {
  border-bottom: 1px solid #c10001;
  padding-bottom: 3px
}

.lightaccent {
  font-weight: lighter;
  color: #c10001;
}
