.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.1;
  font-size: 1rem;
  font-weight: 300;
}

.description {
  line-height: 1.1;
  font-size: 1rem;
}

.grid {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 3rem;
}

.card {
  margin: 0.5rem;
  flex-basis: 10%;
  padding: 0.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #c10001;
  border-radius: 10px;
  transition: 0.3s ease;
  font-variant: small-caps;
  background-color: #eff6ff;
}

.card h3 {
  margin: 0 0 0 0;
  font-size: 12pt;
  font-weight: 300;
}

.card:hover,
.card:focus,
.card:active {
  color: white;
  border-color: #700001;
  text-decoration: none;
  background-color: #c10001;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
