.resources {
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    justify-content: space-between;
}

.resourceName {
    min-width: 200px;
    flex-basis:  20%;
    flex-grow: 1;
    font-weight: 750;
}


.resourceDetail {
    flex-basis:  80%;
    flex-grow: 4;
    margin-bottom: 20px;
    text-align: justify;
}