.resources {
}

.resourceName {
  font-size: 1.3rem;
  min-width: 200px;
  font-weight: 750;
}

.resourceNameSmaller {
  font-size: 1.1rem;
  min-width: 200px;
  font-weight: 750;
}


.resourceDetail {
    line-height: 1.1;
    font-size: 0.9rem;
    font-variant: normal;
    margin-bottom: 10px;
    font-weight: normal;
}

.venue {
    line-height: 1.1;
    font-size: 0.9rem;
    font-weight: lighter;
    font-variant: normal;
    margin-bottom: 10px;

}

.authors {
    line-height: 1.1;
    font-size: 0.9rem;
    font-weight: lighter;
    font-variant: normal;
    margin-bottom: 10px;

}